RewriteEngine on

RewriteRule ^index.html$ index.php [L,NC]
RewriteRule ^giris.html$ giris.php [L,NC]
RewriteRule ^([a-zA-Z0-9\-_]+).html$ index.php?sayfa=$1 [L,QSA]
RewriteRule ^sayfa-duzenle/(.*).html$ index.php?sayfa=sayfa-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^karar-duzenle/(.*).html$ index.php?sayfa=karar-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^faaliyet-duzenle/(.*).html$ index.php?sayfa=faaliyet-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^etkinlik-duzenle/(.*).html$ index.php?sayfa=etkinlik-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^slider-duzenle/(.*).html$ index.php?sayfa=slider-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^haber-duzenle/(.*).html$ index.php?sayfa=haber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^haber-kategori-duzenle/(.*).html$ index.php?sayfa=haber-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^galeri-duzenle/(.*).html$ index.php?sayfa=galeri-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^fotograflar/(.*).html$ index.php?sayfa=fotograflar&id=$1 [L,QSA]
RewriteRule ^haber-fotograflar/(.*).html$ index.php?sayfa=haber-fotograflar&id=$1 [L,QSA]
RewriteRule ^video-duzenle/(.*).html$ index.php?sayfa=video-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^header-menu-duzenle/(.*).html$ index.php?sayfa=header-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^footer-menu-duzenle/(.*).html$ index.php?sayfa=footer-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^top-menu-duzenle/(.*).html$ index.php?sayfa=top-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^slider-menu-duzenle/(.*).html$ index.php?sayfa=slider-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^orta-menu-duzenle/(.*).html$ index.php?sayfa=orta-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^kolay-menu-duzenle/(.*).html$ index.php?sayfa=kolay-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^baskan-ayarlar/(.*).html$ index.php?sayfa=baskan-ayarlar&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^dil-duzenle/(.*).html$ index.php?sayfa=dil-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^sablon-duzenle/(.*).html$ index.php?sayfa=sablon-duzenle&islem=duzenle&id=$1 [L,QSA] 
RewriteRule ^rehber-duzenle/(.*).html$ index.php?sayfa=rehber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^yonetici-duzenle/(.*).html$ index.php?sayfa=yonetici-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bagis-turu-duzenle/(.*).html$ index.php?sayfa=bagis-turu-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^proje-duzenle/(.*).html$ index.php?sayfa=proje-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^proje-kategori-duzenle/(.*).html$ index.php?sayfa=proje-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^profil-duzenle/(.*).html$ index.php?sayfa=profil-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^profil-kategori-duzenle/(.*).html$ index.php?sayfa=profil-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bagis-kategori-duzenle/(.*).html$ index.php?sayfa=bagis-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bagis-duzenle/(.*).html$ index.php?sayfa=bagis-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^aidat-duzenle/(.*).html$ index.php?sayfa=aidat-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^hizmet-duzenle/(.*).html$ index.php?sayfa=hizmet-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^birim-duzenle/(.*).html$ index.php?sayfa=birim-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^duyuru-duzenle/(.*).html$ index.php?sayfa=duyuru-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ilan-duzenle/(.*).html$ index.php?sayfa=ilan-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ihale-duzenle/(.*).html$ index.php?sayfa=ihale-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^yetim-duzenle/(.*).html$ index.php?sayfa=yetim-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^program_ekle/islem/duzenle/id/(.*).html$ index.php?sayfa=program_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^karakter_program_ekle/islem/duzenle/id/(.*).html$ index.php?sayfa=karakter_program_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ogrenme_deneyimi_ekle/islem/duzenle/id/(.*).html$ index.php?sayfa=ogrenme_deneyimi_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^destekleme_yollari_ekle/islem/duzenle/id/(.*).html$ index.php?sayfa=destekleme_yollari_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bagis-modul-duzenle/(.*).html$ index.php?sayfa=bagis-modul-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^impact_reach_duzenle/(.*).html$ index.php?sayfa=impact_reach_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^uzman_gorus_duzenle/(.*).html$ index.php?sayfa=uzman_gorus_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bilgilendirme-duzenle/(.*).html$ index.php?sayfa=bilgilendirme-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^dosya-duzenle/(.*).html$ index.php?sayfa=dosya-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ders-duzenle/(.*).html$ index.php?sayfa=derslik_durum_ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^randevu-hizmet-duzenle/(.*).html$ index.php?sayfa=randevu-hizmet-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^randevu-detay/(.*).html$ index.php?sayfa=randevu-detay&id=$1 [L,QSA]
RewriteRule ^gelen-bagis-detay/(.*).html$ index.php?sayfa=gelen-bagis-detay&id=$1 [L,QSA]
 RewriteRule ^hami-detay/(.*).html$ index.php?sayfa=hami-detay&id=$1 [L,QSA]
